<%- include("header"); %>



<div class="container mt-4">

  <div class="row">

    <div class="col-4">

      <h2>List of dep</h2>

        <div class="list-group" id="list-tab" role="tablist">
          <% if(locals.departmentsAndCourses) {
            locals.departmentsAndCourses.forEach(dept => { %>
              <a class="list-group-item list-group-item-action" id="list-<%= dept.department_code%>-list" data-toggle="list" href="#list-<%= dept.department_code%>" role="tab" aria-controls="home"><%= dept.department_name + " (" + dept.department_code + ")"%></a>
              <!-- <h4> dept.department_name + " (" + dept.department_code + ")"%></h4> -->
          <% });
          } %>
        </div>

    </div>

    <div class="col-8">
      <h2>Available Courses</h2>
       <div class="tab-content" id="nav-tabContent">
         <% if(locals.departmentsAndCourses) {
           locals.departmentsAndCourses.forEach(dept => { %>
             <div class="tab-pane fade" id="list-<%= dept.department_code%>" role="tabpanel" aria-labelledby="list-<%= dept.department_code%>-list">
             <% dept.courses.forEach(course => { %>
               <a href="/<%= course.course_code %>"><%= course.course_name + " (" + course.course_code + ")"%> </a><br>
         <%  }); %>
            </div>
        <%  });
         } %>
       </div>
    </div>
  </div>
</div>

<%- include("footer"); %>
