<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/chat.css">

    <script>
        const className = "{{class_name}}";
        const userId = "{{user.id}}";
        const isAdmin = {{user.isAdmin}};
    </script>

    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>

    <title>class - AUB Study Platform</title>
    <!-- <script src="/handlebars-v4.7.6.js"></script> -->
    <style media="screen">

    </style>
  </head>
  <body>
      <nav>

        <h4>AUB Study Platform</h4>
        <ul>
          <li> <a href="/">Home</a> </li>
          <li> <a href="/profile">Profile</a></li>
          {{#if user.isAdmin}}
            <li> <a href="/addCourse">Add Course</a></li>
          {{else}}
            <li> <a href="/studentRegister">Course Registration</a></li>
          {{/if}}
          <li><a href="/messages">Messages</a></li>
          <li><a href="/searchPeople">Search people</a></li>
          <li> <a href="/auth/Logout">Logout</a></li>
        </ul>
      </nav>

        <div class="row">

          <div class="col-3">

              <div class="card">
                <h5 class="card-header">Announcements</h5>
                <div class="card-body">
                  <ul class="announcement-ul" id="announcement-ul">
                    {{#each announcements as |announce|}}
                      <li>{{announce.text}} <span style="font-size:12px;color:grey;"> at {{announce.announceDate}}</span></li>
                    {{/each}}
                  </ul>

                </div>
                {{#if user.isAdmin}}
                <div class="card-footer">
                  <form class="form" id="announceForm">
                    <!-- <input type="text" name="announce_author" value="{{user.name}}" style="display:none;">
                    <input type="text" name="courseName" value="{{class_name}}" style="display:none;"> -->
                    <input type="text" id="announce_text"  style="width:77%;height:32px; border:0.5px solid black; border-radius:5px;">
                    <button type="submit" class="btn btn-primary btn-sm">submit</button>
                  </form>
                </div>
                {{else}}
                  <div class="card-footer" style="text-align:center;">
                    <h7>Always check up the announced tabs!</h7>
                  </div>
                {{/if}}
              </div>

              <div class="card">
                <h5 class="card-header">Questions</h5>
                <div class="card-body">
                  <ul class="question">
                    {{#each questions as |question|}}
                      <li>{{question.id}} : {{question.text}} <strong> by {{question.author_name}}</strong><span style="font-size:12px;color:grey;"> at {{question.questionDate}}</span></li>
                    {{/each}}
                  </ul>
                </div>
                <div class="card-footer">
                  <form class="form" action="/auth/addQuestion" method="post" id="questionForm">
                    <input type="text" name="question_author" value="{{user.name}}" style="display:none;">
                    <input type="text" name="courseName" value="{{class_name}}" style="display:none;">
                    <input type="text" name="question_text" value="" placeholder="Add question" style="width:74%;height:32px; border:0.5px solid black; border-radius:5px;">
                    <button type="submit" class="btn btn-primary btn-sm">submit</button>
                  </form>
                </div>
              </div>
          </div>

          <div class="col-5">
              <div class="card">
                <h5 class="card-header">Video - {{class_name}}</h5>
                <div class="card-body">
                  <div id="video-grid"></div>
                </div>
              </div>
          </div>

          <div class="col-4">
            
            <div class="card">
              <h5 class="card-header">Chat</h5>
              <div class="card-body">
                <div id="pageMain">
                  <ul id="messages">

                  </ul>
                </div>
              </div>
              <div class="card-footer">
                <div id="pageFooter" class="pageFooter">
                  <form style=" width: 100%; padding-left:2%;" id="form_chat">
                    <input type="file" class="form-control-file" id="chat_file" name="chat_file" accept="">
                    <input type="text" id="m"  style="width:77%;height:32px; border:0.5px solid black; border-radius:5px;">
                    <input type="submit" class="btn btn-primary" id="submitButton" value="send" />
                  </form>
                </div>
              </div>
            </div>

            <div class="card">
              <h5 class="card-header">Resourses</h5>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

          </div>
        </div>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <!-- Include Handlebars from a CDN -->
      <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

      </body>

      <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
      <script src="/js/displayMessage.js"></script>
      <script>
          let userName = `{{user.name}}`;
          let room = `{{class_name}}`;
          let idd = `{{user.id}}`;

          //////////////////Rendering the old chat messages
          var oldData = {
            value: '',
            user: '',
            Room: '',
            userID: '',
            time: ''
          }
          {{#each chat as |single|}}
            oldData = {
              value: `{{single.text}}`,
              user: `{{single.author_name}}`,
              Room: `{{single.course_name}}`,
              userID: `{{single.author_id}}`,
              time: `{{single.date}}`
            }
            displayMessage(oldData);
          {{/each}}
      </script>
      <script src="/js/classSocket.js"></script>
      <script src="/js/videoChat.js" defer></script>
</html>
