<%- include("header"); %>

<link rel="stylesheet" href="/css/course-room.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/peerjs.min.js"></script>

<% if (locals.user) { %>
  <script>
    // Declarations for following scripts
    // Get user info from locals
    let user = {
      userId: "<%= locals.user.id %>",
      firstName: "<%= locals.user.first_name %>",
      roomId: "<%= locals.institution_code + '_' + locals.course_code %>"
    }
    let socket = io();
  </script>
  <script src="/js/roomClientSide.js"></script>
  <script src="/js/chatSocket.js"></script>
<% } else {
  console.log("User not logged in!");
} %>


<div class="container mx-4">
  <div class="row">

    <div class="card video-card col-12">
      <div class="card-body">
        <div id="video-grid">

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">


      <div class="card">
        <div class="card-header">
          Chat messages
        </div>
        <div class="card-body message-container">
          <ul id="messages" class="vertical-scrollable"></ul>

        </div>
        <form id="form" action="">
          <input id="input" autocomplete="off" /><button>Send</button>
        </form>
      </div>


    </div>
    <div class="col-xs-12 col-sm-4">

    </div>

  </div>

</div>




<%- include("footer"); %>
