<%- include("header"); %>

<link rel="stylesheet" href="/css/course-room.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/libraries/peerjs.min.js"></script>

<% if (locals.user) { %>
  <script>
    // Declarations for following scripts
    // Get user info from locals
    let user = {
      userId: <%- locals.user.id %>, // TODO: Check if this line is needed
      firstName: "<%- locals.user.first_name %>",
      roomId: "<%- locals.institution_code.toLowerCase() + '_' + locals.course_code.toLowerCase() %>"
    }
    console.log("ejs roomId: " + user.roomId);
    let socket = io();
  </script>
  <% if (locals.messagesList) { %>
    <script>
      let messagesList = <%- JSON.stringify(locals.messagesList) %>;
    </script>
  <% }
  if (locals.questionsList) { %>
    <script>
      let questionsList = <%- JSON.stringify(locals.questionsList) %>;
    </script>
  <% } %>
<% } else {
  console.log("User not logged in!");
} %>

<script src="/js/libraries/moment.min.js"></script>
<script src="/js/roomClientSide.js"></script>
<script src="/js/chatSocket.js"></script>
<script src="/js/questionsSocket.js"></script>

<div class=".container mx-4">
  <div class="row">

    <div class="card participant-card col-xs-12 col-md-1">
      <div class="card-body">
        <ul id="clients">

        </ul>
      </div>
    </div>
    <div class="card video-card col-xs-12 col-md-7">
      <div class="card-body">
        <div id="video-grid">

        </div>
      </div>
    </div>
    <div class="card col-xs-12 col-md-4">

        <div class="card-header">
          Chat messages
        </div>
        <div class="card-body message-container" id="messages-container">
          <ul id="messages" class="vertical-scrollable">

          </ul>
        </div>
        <form id="chat-form" action="">
          <input id="chat-input" autocomplete="off" />
          <button>Send</button>
        </form>


    </div>
  </div>

  <!-- 2nd Row -->
  <div class="row">
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

      <div class="card-header">
          Questions
        </div>
        <div class="card-body message-container" id="questions-container">
          <ul id="questions" class="vertical-scrollable">

          </ul>
        </div>
        <button data-target="#submit-question-modal" data-toggle="modal">Submit Question</button>


    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
  </div>
</div>

<!-- Submit question modal -->
<div class="modal fade" id="submit-question-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submit Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form id="submit-question-form"> 
          <div class="form-group">
            <label class="col-form-label" for="submit-question-title">Question</label><br>
            <input type="text" id="submit-question-title"></input>
          </div>          
          
          <div class="form-group">
            <label class="col-form-label" for="submit-question-description">More Info</label><br>
            <textarea rows="6" id="submit-question-description"></textarea>
          </div>

          <div class="modal-footer">
            <button class="btn btn-primary">Submit</button>
            <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      <!-- TODO: Empty text and textarea on cancel or x, and ask for confirmation before closing modal -->
      </div>
    </div>
  </div>
</div>

<!-- View question modal -->
<div class="modal fade" id="view-question-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body"> 
        <div class="form-group">
          <label class="col-form-label" id="view-question-title">Question</label><br>
          <label class="col-form-label" id="view-question-description"></label>
        </div>          
        
        <div class="form-group card-body message-container">
          <ul id="view-question-comments" class="vertical-scrollable">
            
          </ul>
        </div>

        <form id="comment-form">
          <input type="text" id="comment-input" autocomplete="off" style="width:70%"/>
          <button type="submit" class="btn btn-primary">Send</button>
          <button data-dismiss="modal" class="btn btn-secondary">Close</button>
        </form>
       
      <!-- TODO: Empty text and textarea on cancel or x, and ask for confirmation before closing modal -->
      </div>
    </div>
  </div>
</div>


<%- include("footer"); %>
