<%- include("header"); %>

<link rel="stylesheet" href="/css/course-room.css">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/peerjs.min.js"></script>

<% if (locals.user) { %>
  <script>
    // Declarations for following scripts
    // Get user info from locals
    let user = {
      userId: "<%= locals.user.id %>",
      firstName: "<%= locals.user.first_name %>",
      roomId: "<%= locals.institution_code + locals.course_code %>"
    }
    let socket = io();
  </script>
  <script src="/js/roomSocketPeer.js"></script>
  <script src="/js/chatSocket.js"></script>
<% } else {
  console.log("User not logged in!");
} %>

<% if (locals.user) { %>
  <%= locals.course_code %>
<% } %>

<div id="video">
</div>

<div id="chat-contrainer">
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
</div>

<%- include("footer"); %>