<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Study Together</title>
  </head>
  <body>
    <nav>
      <h4>Study Together</h4>
      <ul>
        <li>
          <a href="/">Home</a>
          
        </li>
        <%= //if user %>
          <li> <a href="/profile">Profile</a></li>
          <%= //{{#if user.isAdmin}} %>
            <li> <a href="/addCourse">Add Course</a></li>
            <%= // {{else}} %>
            <li> <a href="/studentRegister">Course Registration</a></li>
            <%= // {{/if}}%>
          <li><a href="/messages">Messages</a></li>
          <li><a href="/searchPeople">Search people</a></li>
          <li> <a href="/auth/Logout">Logout</a></li>
          <%= //{{else}}%>
          <li> <a href="/login">Login</a></li>
          <li> <a href="/register">Register</a></li>
          <%= // {{/if}}%>
      </ul>
    </nav>